.section {
    max-width: 1200px;
    margin: 0 auto;
    padding-block: 2rem;
  }
  

  
  .filter {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
    flex-wrap: wrap;
  }
  
  .filter input {
    padding: 0.5rem 1rem;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 1rem;
  }
  
  .list {
    display: flex;
    flex-direction: column;
    
  }
  
  .card {
    background-color: #f1f5f9;
    border-radius: 12px;
    padding: 1rem 1.5rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);

    display: flex;
    flex-direction: row;
    justify-content: space-between
  }
  
  .name {
    font-weight: 600;
    font-size: 1.1rem;
    margin-bottom: 0.25rem;
  }
  
  .phone,
  .date {
    font-size: 0.95rem;
    color: #555;
  }
  
  .empty {
    text-align: center;
    color: #999;
    font-style: italic;
  }
  
  ---------------
  .table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 2rem;
    font-size: 0.95rem;
  }
  
  .table thead {
    background-color: #e2e8f0;
  }
  
  .table th,
  .table td {
    padding: 0.75rem 1rem;
    border-bottom: 1px solid #ccc;
    text-align: left;
  }
  
  .table th {
    font-weight: 600;
    color: #003366;
  }
  
  .table tbody tr:hover {
    background-color:  #edf3fa;
  }
  
  .pagination {
    margin-top: 20px;
    text-align: center;
  }
  
  .pagination button {
    margin: 0 5px;
    padding: 6px 12px;
    border: none;
    background: #c6cab2;
    cursor: pointer;
  }
  
  .pagination button:hover {
    background: #ddd;
  }
  
  .activePage {
    background: #023e8a;
    color: white;
    font-weight: bold;
  }
  .tableInfoRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f9f9f9;
    padding: 0.6rem 1rem;
    font-size: 0.95rem;
 
    border-bottom: none;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    color: #333;
  }
    