.container {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 220px;
  background-color: #f5f8ee;

  border-right: 1px solid #ccc;
}

.sidebar h2 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar li {
  padding-block: 1rem;
  background-color: #f5f8ee;
  transition: all 0.2s;
}

.sidebar li:hover {
  padding-block: 1rem;
  background-color: #c5c8be;
  cursor: pointer;
}

.sidebar a {
  text-decoration: none !important;
  color: #333;
  padding-inline: 1rem;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.sidebar a:hover {
  text-decoration: underline;
}

.main {
  flex: 1;
  padding: 2rem;
  background-color: #fff;
  overflow-y: auto;
}

.btnLogout {
  background-color: #333;
  border: 1px solid #333;

  color: #fff;
  padding: 0.5rem;
  cursor: pointer;
  width: 100%;

  text-transform: uppercase;
}
