.container {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 220px;
  background-color: #f5f8ee;

  border-right: 1px solid #ccc;
}

.sidebar h2 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar li {
  padding-block: 1rem;
  background-color: #f5f8ee;
}

.sidebar li:hover {
    padding-block: 1rem;
    background-color: #c5c8be;
    cursor: pointer;
  }

.sidebar a {
  text-decoration: none;
  color: #333;
  padding-inline: 1rem;
  
}

.sidebar a:hover {
  text-decoration: underline;
}

.main {
  flex: 1;
  padding: 2rem;
  background-color: #fff;
  overflow-y: auto;
}
