.navBar {
  position: absolute;
  top: 0;
  width: 100%;
  padding: 1rem 2rem;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(8px); /* blur jak szkło */
  color: white;
  max-width: 1600px;
  margin: 0 auto;
}
.navBar__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.logo {
  display: flex;
  align-items: center;
}

.logoImg {
  height: 40px;
  width: auto;
}

.links {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 2rem;
}
.links a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  font-size: 1rem;
  transition: color 0.2s ease;
  text-transform: uppercase;
}

.links a:hover {
  color: #ffcc00;
}

.burger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 28px;
  height: 21px;
  cursor: pointer;
  z-index: 1100;
}

.burger span {
  display: block;
  height: 3px;
  background-color: white;
  border-radius: 2px;
  transition: all 0.3s ease;
}
