.pricingSection {
  background-color: #121212;
  color: #f4f4f4;
  padding-block: 3rem;
  text-align: center;
}

.heading {
  font-size: clamp(1.8rem, 2vw + 1rem, 2.5rem);
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 2rem;
}

.heading span {
  font-size: 1rem;
  color: #ccc;
  display: block;
  margin-top: 0.25rem;
}

.prices {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

.priceBox {
  
  padding: 2rem;
  max-width: 420px;
  
}



.priceBox h3 {
  font-size: 1.4rem;
  color: #fff;
  margin-bottom: 0.75rem;
}

.priceBox p {
  font-size: 1rem;
  color: #ccc;
  line-height: 1.6;
}

.paymentInfo {
  margin-top: 3rem;
  color: #ddd;
  font-size: 1.05rem;
}

.icon {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.paymentLink {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.75rem 1.5rem;
  background-color: #cc0000;
  color: #fff;
  font-weight: 600;
  border-radius: 10px;
  text-decoration: none;
  box-shadow: 0 4px 14px rgba(255, 0, 0, 0.2);
  transition: background 0.3s ease;
}

.paymentLink:hover {
  background-color: #aa0000;
}

@media (min-width: 768px) {
  .prices {
    flex-direction: row;
    justify-content: center;
  }
}
